h1 {
  text-align: center;
  color: palevioletred;
}
h2 {
  text-align: center;
}
img {
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
  display: block;
}
.contact-btn {
  display: block;
  margin: 0 auto;
  width: 130px;
  background: palevioletred;
  color: palevioletred;
  padding: 17px 27px;
  border: none;
  border-radius: 12px;
}
a:link {
  color: white;
}
